#breadcrumbs {
  border-color: lighten(#8dba53 !default;, 20);
  width: auto;
  margin-left: 0;
  margin-top: -15px;

  ul {
    margin: 0;

    li {
      a {
        color: white;
        font-size: 12px;
      }
    }
  }
}
